<div class="form-group">
  <label class="label label-default" for="title">アンケート名を入力してください。</label>
  <input type="text" name="title" value="" id="title" class="form-control" placeholder="AngularJSハンズオン">
</div>
<div class="form-group">
  <label class="label label-default" for="detail">アンケート概要を入力してください。</label>
  <textarea name="detail" rows="4" cols="40" id="detail" class="form-control" placeholder="本日はお疲れ様でした。"></textarea>
</div>

<div class="" ng-repeat="question in create.questions track by $index">
  <input type="hidden" name="name" ng-init="question.no=$index" ng-model="question.no" >
  <div class="form-group">
    <label class="label label-default" for="title">
      <button class="btn btn-danger btn-sm" type="button" name="button" ng-click="create.questionDelete($index)">×</button>
      Q{{$index+1}} 質問を入力してください。
      （
      <span ng-if="question.answerType==0">フリーワード回答</span>
      <span ng-if="question.answerType==1">複数選択回答</span>
      <span ng-if="question.answerType==2">単一選択回答</span>
      ）
    </label>
    <input type="text" class="form-control" placeholder="例：本日のハンズオンはいかがでしたか？" ng-model="question.question">
  </div>

  <div class="form-group">
    <ol>
      <li ng-repeat="item in question.items track by $index">
        <input type="hidden" name="name" value="" ng-model="item.no" ng-init="item.no=$index">
        <input type="text" name="name" value="" ng-model="item.answer" placeholder="選択肢{{$index+1}}">
      </li>
    </ol>
  </div>
</div>

<label class="radio-inline">
  <input type="radio" name="optradio" ng-model="create.answerType" ng-change="create.selectAnswerType()" value="0">フリーワード回答
</label>
<label class="radio-inline">
  <input type="radio" name="optradio" ng-model="create.answerType" ng-change="create.selectAnswerType()" value="1">複数選択回答
</label>
<label class="radio-inline">
  <input type="radio" name="optradio" ng-model="create.answerType" ng-change="create.selectAnswerType()" value="2">単一選択回答
</label>

<div class="form-group" ng-if="create.answerType!=0">
  <label class="label label-default" for="title">選択肢の数を入力してください。</label>
  <input type="number" min="2" class="form-control" ng-model="create.items" ng-init="create.items=2" ngRequired="true">
</div>
<button type="button" name="button" class="btn btn-info" ng-click="create.add()">質問追加</button>
<button type="button" name="button" class="btn btn-success" ng-click="create.complete()">入力完了</button>
