<div class="form-group">
  <label class="label label-default" for="title">アンケート名を入力してください。</label>
  <input type="text" name="title" value="" id="title" class="form-control" placeholder="AngularJSハンズオン">
</div>
<div class="form-group">
  <label class="label label-default" for="detail">アンケート概要を入力してください。</label>
  <textarea name="detail" rows="4" cols="40" id="detail" class="form-control" placeholder="本日はお疲れ様でした。"></textarea>
</div>

<div class="" ng-repeat="question in create.questions track by $index">
  <input type="hidden" name="name" ng-init="question.no=$index" ng-model="question.no" >
  <div class="form-group">
    <label class="label label-default" for="title">
      Q{{$index+1}} 質問を入力してください。
      （
      <span ng-if="question.answerType==0">フリーワード回答</span>
      <span ng-if="question.answerType==1">複数選択回答</span>
      <span ng-if="question.answerType==2">単一選択回答</span>
      ）
    </label>
    <input type="text" class="form-control" placeholder="例：本日のハンズオンはいかがでしたか？" ng-model="question.question">
  </div>

  <div class="form-group">
    <ol>
      <li ng-repeat="item in question.items track by $index">
        <input type="hidden" name="name" value="" ng-model="item.no" ng-init="item.no=$index">
        <input type="text" name="name" value="" ng-model="item.answer">
      </li>
    </ol>
  </div>
</div>


<div class="radio">
  <label><input type="radio" name="optradio" ng-model="create.answerType" value="0">フリーワード回答</label>
  <label><input type="radio" name="optradio" ng-model="create.answerType" value="1">複数選択回答</label>
  <label><input type="radio" name="optradio" ng-model="create.answerType" value="2">単一選択回答</label>
</div>
<div class="form-group">
  <label class="label label-default" for="title">回答項目の数を入力してください。</label>
  <input type="text" class="form-control" ng-model="create.items" ng-value="1">
</div>
<button type="button" name="button" class="btn btn-default" ng-click="create.add()">項目追加</button>
